APP_ENV=development

DB_HOST=mariadb
DB_PORT=3306
DB_NAME=blackhost
DB_USER=user
DB_PASSWORD=password

MAIL_HOST=localhost
MAIL_PORT=25
MAIL_FROM_ADDRESS=noreply@localhost
MAIL_FROM_NAME=App
MAIL_ENCRYPTION=
MAIL_DOMAIN=localhost
MAIL_LOCAL=false

IMAP_HOST=localhost
IMAP_PORT=993
IMAP_ENCRYPTION=ssl
IMAP_VERIFY_SSL=false
