<h2>{{heading}}</h2>

<h3>{{section_news}}</h3>
<form method="POST">
  <input type="hidden" name="prg_id"  value="{{prg_id}}">
  <input type="hidden" name="_csrf"   value="{{csrf_token}}">
  <table>
    <tr><th>{{label_per_page}}</th>
      <td><input type="number" name="per_page" value="{{cfg_per_page}}" min="1"></td></tr>
    <tr><th>{{label_descending}}</th>
      <td><input type="checkbox" name="descending" value="1"{{#cfg_descending}} checked{{/cfg_descending}}></td></tr>
    <tr><th>{{label_pn_key}}</th>
      <td><input type="text" name="pn_key" value="{{cfg_pn_key}}"></td></tr>
    <tr><th>{{label_show_key}}</th>
      <td><input type="text" name="show_key" value="{{cfg_show_key}}"></td></tr>
    <tr><th>{{label_order_key}}</th>
      <td><input type="text" name="order_key" value="{{cfg_order_key}}"></td></tr>
    <tr><th>{{label_page_window}}</th>
      <td><input type="number" name="page_window" value="{{cfg_page_window}}" min="1"></td></tr>
    <tr><td colspan="2"><input type="submit" value="{{btn_save}}" class="input"></td></tr>
  </table>
</form>