<div id="chat-help">
    <h2>{{help_heading}}</h2>

    <h3>{{help_formatting_head}}</h3>
    <p>{{help_formatting}}</p>

    <h3>{{help_me_head}}</h3>
    <p>{{help_me}}</p>

    <h3>{{help_pm_head}}</h3>
    <p>{{help_pm}}</p>

    <h3>{{help_ignore_head}}</h3>
    <p>{{help_ignore}}</p>

    <h3>{{help_roles_head}}</h3>
    <p>{{help_roles}}</p>

    {{#help_has_rules}}
    <h3 id="chat-rules">{{help_rules_head}}</h3>
    <p class="chat-rules-body">{{help_rules}}</p>
    {{/help_has_rules}}
</div>
