<div id="comments_area">
    <hr>
    <h2>{{comments_heading}}</h2>

    {{#comments_any}}
    <form method="GET" action="{{comments_filter_action}}">
        {{&comments_base_query_inputs}}
        <p>
            <label>{{comment_label_show}}: <input type="number" name="cs" class="input" size="4" value="{{comments_per_page_val}}" min="0"></label>
            <label>{{comment_label_order}}:
                <select name="co" class="input">
                    <option value="asc"{{#comments_order_asc}} selected{{/comments_order_asc}}>{{comment_label_order_asc}}</option>
                    <option value="desc"{{#comments_order_desc}} selected{{/comments_order_desc}}>{{comment_label_order_desc}}</option>
                </select>
            </label>
            <label>{{comment_label_indent}}:
                <select name="ci" class="input">
                    <option value="1"{{#comments_indent_on}} selected{{/comments_indent_on}}>{{comment_label_indent_nest}}</option>
                    <option value="0"{{#comments_indent_off}} selected{{/comments_indent_off}}>{{comment_label_indent_flat}}</option>
                </select>
            </label>
            <input type="submit" value="{{comment_btn_filter}}" class="input">
        </p>
    </form>
    {{/comments_any}}

    {{^comments_any}}
    <p>{{comments_none}}</p>
    {{/comments_any}}

    {{#comments}}
    <div class="comment" id="comment-{{id}}" style="border:1px solid white;padding:10px 10px 0 10px;height:auto;overflow:auto;margin-bottom:10px;{{row_opacity}}">
        <div style="overflow:auto;margin-bottom:10px">

            {{#avatar_profile_section}}
            <a href="{{profile_url}}"><img src="{{avatar_src}}" alt="avatar" style="width:75px;height:75px;float:left;margin-right:10px;"></a>
            {{/avatar_profile_section}}

            {{#avatar_plain_section}}
            <img src="{{avatar_src}}" alt="avatar" style="width:75px;height:75px;float:left;margin-right:10px;">
            {{/avatar_plain_section}}

            {{#name_profile_section}}
            <p style="margin:0;float:left"><strong><a href="{{profile_url}}">{{display_name}}</a></strong></p>
            {{/name_profile_section}}

            {{#name_plain_section}}
            <p style="margin:0;float:left"><strong>{{display_name}}</strong></p>
            {{/name_plain_section}}

            <div class="right">
                {{#reply_section}}
                <a href="{{reply_url}}" class="input" style="display:inline-block">{{comment_btn_reply}}</a>
                {{/reply_section}}
                {{#admin_hide_section}}
                <form method="POST" style="display:inline">
                    <input type="hidden" name="prg_id" value="{{comments_prg_id}}">
                    <input type="hidden" name="_csrf"   value="{{comments_csrf}}">
                    <input type="hidden" name="_comment" value="1">
                    <input type="hidden" name="id"      value="{{id}}">
                    <input type="hidden" name="action"  value="hide">
                    <input type="submit" value="{{comment_btn_hide}}" class="input">
                </form>
                {{/admin_hide_section}}
                {{#admin_unhide_section}}
                <form method="POST" style="display:inline">
                    <input type="hidden" name="prg_id" value="{{comments_prg_id}}">
                    <input type="hidden" name="_csrf"   value="{{comments_csrf}}">
                    <input type="hidden" name="_comment" value="1">
                    <input type="hidden" name="id"      value="{{id}}">
                    <input type="hidden" name="action"  value="unhide">
                    <input type="submit" value="{{comment_btn_unhide}}" class="input">
                </form>
                {{/admin_unhide_section}}
                {{#admin_delete_section}}
                <form method="POST" style="display:inline">
                    <input type="hidden" name="prg_id" value="{{comments_prg_id}}">
                    <input type="hidden" name="_csrf"   value="{{comments_csrf}}">
                    <input type="hidden" name="_comment" value="1">
                    <input type="hidden" name="id"      value="{{id}}">
                    <input type="hidden" name="action"  value="delete">
                    <input type="submit" value="{{comment_btn_delete}}" class="input">
                </form>
                {{/admin_delete_section}}
            </div>

            <br>

            {{#reply_to_section}}
            <small style="font-size:10px">(&#8617; #{{reply_to}})</small>
            {{/reply_to_section}}

            <blockquote>{{content}}</blockquote>

            <p><small>
                <span class="left">{{created_at}}</span>
                <span class="right">ID: {{id}}</span>
            </small></p>
            <div class="clear"></div>
        </div>
        {{&close_divs_html}}
        {{/comments}}

        {{#has_pagination}}
        <p class="comments_nav"><small>
            {{comment_word_older}}
            {{#comments_has_prev}}<a href="{{comments_prev_url}}">&#8592;</a>{{/comments_has_prev}}
            {{#comments_pages}} {{&link}}{{^url}}{{number}}{{/url}}{{/comments_pages}}
            {{#comments_has_next}}<a href="{{comments_next_url}}">&#8594;</a>{{/comments_has_next}}
        </small></p>
        {{/has_pagination}}

        <hr>
        <h3 id="comment_form">{{comments_submit_heading}}</h3>
        <form method="POST">
            <input type="hidden" name="prg_id"    value="{{comments_prg_id}}">
            <input type="hidden" name="_csrf"     value="{{comments_csrf}}">
            <input type="hidden" name="_comment"  value="1">
            <input type="hidden" name="reply_to"  value="{{comments_reply_to}}">
            <p>
                {{#comments_reply_to}}
                <em>{{comment_label_reply}}: #{{comments_reply_to}}</em>
                &mdash; <a href="{{comments_cancel_reply_url}}">{{comment_btn_cancel_reply}}</a><br>
                {{/comments_reply_to}}
                {{^comments_logged_in}}
                <label for="comment_name">{{comment_label_name}}: </label>
                <input type="text" name="name" id="comment_name" class="input"><br>
                <label for="comment_email">{{comment_label_email}}: </label>
                <input type="email" name="email" id="comment_email" class="input"><br>
                {{/comments_logged_in}}
                <label for="comment_content">{{comment_label_content}}: </label><br>
                <textarea name="content" id="comment_content" rows="10" class="input"></textarea><br>
                {{#show_captcha}}
                <img src="data:image/png;base64,{{&captcha_image}}" alt="captcha" class="captcha-image"><br>
                <label for="captcha_text">{{comment_label_captcha}}: </label>
                <input type="text" name="captcha_text" id="captcha_text" class="input" autocomplete="off" spellcheck="false"><br>
                <input type="hidden" name="captcha_id" value="{{captcha_id}}">
                {{/show_captcha}}
                <input type="submit" value="{{comment_btn_submit}}" class="input">
            </p>
        </form>
    </div>