<h2>{{news_heading}}</h2>
{{#has_news}}
<form id="news_filter" method="GET" action="{{news_form_action}}">
    <label>{{news_filter_show}}: <input class="input" type="number" name="show" value="{{per_page}}" min="1" max="100" style="width:4em"></label>
    <label>{{news_filter_order}}:
        <select class="input" name="order">
            <option value="desc"{{#news_desc_selected}} selected{{/news_desc_selected}}>{{news_filter_desc}}</option>
            <option value="asc"{{#news_asc_selected}} selected{{/news_asc_selected}}>{{news_filter_asc}}</option>
        </select>
    </label>
    <input class="input" type="submit" value="{{news_filter_submit}}">
</form>
<div id="news_list">
    {{#news}}
    <div class="news_entry">
        <h3>{{title}}</h3>
        <p class="news_date">{{created_at}}</p>
        {{#content}}<p class="news_content">{{content}}</p>{{/content}}
    </div>
    {{/news}}
</div>
<p class="news_nav">{{#has_prev}}<a href="{{prev_url}}">{{news_prev}}</a> {{/has_prev}}{{news_page}} {{page}} / {{page_count}}{{#has_next}} <a href="{{next_url}}">{{news_next}}</a>{{/has_next}}</p>
{{/has_news}}
{{^has_news}}
<p>{{news_empty}}</p>
{{/has_news}}